<div class="file_content wiki">
	<h1>jOnix Web Application</h1>

	<p>This project is an application to create, send, read, edit, update <a href="http://www.editeur.org/8/ONIX/">ONIX messages</a>. The main aim is to create a tool to utilize the ONIX data model and create valid ONIX messaging for correpondence. The application validates the document as they are typed, so the user can follow how the final resulting ONIX message will look like.</p>

	<h2>Underlying tools</h2>

	<p>jOnix Web is a client side application that uses Angular JS framework. The input and the output of the application are ONIX messages. It is intended to be used togeter with the <a href="https://gitlab.mw.metropolia.fi/jonix">jOnix</a> backend application but it it can also be used as a standalone application or with different backends.</p>

	<h3>Running the app</h3>

	<p>You can pick one of these options:</p>

	<ul>
		<li>serve this repository with your webserver</li>
		<li>install node.js and run <code>scripts/web-server.js</code></li>
	</ul>

	<h3>Running the app in production</h3>

	<p>All you need in production are all the files under the <code>app/</code> directory.<br>
	Everything else should be omitted.</p>

	<p>Angular apps are really just a bunch of static html, css and js files that just need to be hosted<br>
	somewhere, where they can be accessed by browsers.</p>
</div>