<span class="span2">
  <label ng-show="$first">{{'_Subject_'| i18n}}</label>
</span>
<div class="span5">


  <span ng-controller="TypeaheadCtrl" id="subjectSchemeTypeahead">
    <input type="text" class="input-small" ng-model="subjectSchemeIdentifier"
      typeahead="scheme.name for scheme in subjectSchemeIdentifiers | filter:$viewValue | limitTo:8"
      typeahead-editable='false' typeahead-on-select="showSubjectSchemeIdentifier($item)"
      placeholder="{{'_...scheme_identifier_' | i18n}}" ng-init="subjectSchemeIdentifier=''"/>

    <span ng-switch="subjectSchemeIdentifier">
      <input ng-switch-when="YSA" type="text" class="input-small"
        ng-model="subjectItem.subjectHeadingText"  style="background-color: #fafad2"
        typeahead="keyw.prefLabel for keyw in getKeywordsAjax($viewValue, 64)"
        typeahead-editable='false' min-length="2" typeahead-wait-ms=300
        typeahead-on-select="showSubjectCode($item, 'YSA')" />

      <input ng-switch-when="GeoNames ID" type="text" class="input-small"
        ng-model="subjectItem.subjectHeadingText" style="background-color: #f0fff0"
        typeahead="keyw.name for keyw in getKeywordsAjax($viewValue, 86)"
        typeahead-editable='false' min-length="2" typeahead-wait-ms=300
        typeahead-on-select="showSubjectCode($item, 'Geonames')" />
    </span>
    <code ng-init="subjectItem.subjectSchemeIdentifier=''">
      {{ subjectItem.subjectSchemeIdentifier }}
    </code>
    <code ng-model="subjectItem.subjCode.url" ng-init="subjectItem.subjCode.url=''"
          ng-show="subjectItem.subjCode.url">
      <a href="{{ subjectItem.subjCode.url }}" target="_blank">{{ subjectItem.subjectCode }}</a>
    </code>
  </span>

  <a href="" ng-click="addSubject()">[+]</a>
  <a href="" ng-click="removeSubject($parent.$index)"
    ng-show="productItem.descriptiveDetail.subject.length > 1">[-]</a>
</div>